nav{
    border: 2px dotted rgb(94, 89, 89);
    background-color: rgb(94, 89, 89);
    border-radius: 3px;
    width: 99%;
    height: 10px;
    padding: 30px;
    box-shadow: rgba(8, 8, 8, 0.35) 0px 5px 15px;
}
a{
    padding: 2%;
    text-decoration: none;
    color: rgb(247, 244, 244);
}
#images{
    width: 80px;
    height: 50px;
    float: right;
}
#images{
    height: 255%;
    border-radius: 50%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}
.cards{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}
.cards h1{
    font-size: 40px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.services{
    display: flex;
    align-items: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all .3s ease;
}
.content.fad{
    font-size : 70px;
    margin : 16px 0 ;
}
.content > *{
    flex: 1 1 100%;
}
.content:hover a{
    border-color: white;
    background: white;
}
.content-1:hover {
    border-color: #1DA1F2;
    background: #1DA1F2;
}
.content-1:hover {
    color: #1DA1F2;
}
.content-2:hover {
    border-color: #E1306C;
    background: #E1306C;
}
.content-2:hover {
    color: #E1306C;
}
.content-3:hover {
    border-color: #ff0000;
    background: #ff0000;
}
.content-3:hover {
    color: #ff0000;
}
.content p{
    font-size: 17px;
   font-family: 'Poppins',sans-serif;
}
.content a{
    margin: 22px 0;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 25px;
    transition: .3s ease;

}
.content a:hover{
    border-radius: 4px;

}

.cards-reow{

border: 2px solid rgb(211, 204, 204);
width: 100%;
height: 100vh;
background-color: rgb(211, 204, 204);
display: flex;
gap:7px;


}

.cards-reow .card-1{


    border: 2px solid #1DA1F2;
    background: #1DA1F2;
    width: 20%;
    height: 70%;
    margin: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0;
    border-radius: 25px;
    transition: .3s ease;
}

.cards-reow .card-2{
    border: 2px solid #E1306C;
    background: #E1306C;
    width: 25%;
    height: 70%;
    margin: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0;
    border-radius: 25px;
    transition: .3s ease;

}

.cards-reow .card-3{
    border: 2px solid #ff0000;
    background: #ff0000;
    width: 110%;
    height: 120%;
    margin: 30px 0;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0;
    border-radius: 25px;
    transition: .7s ease;
    
}
.div-card-1{

    border: 2px solid rgb(211, 204, 204);
    width: 100%;
    height: 100vh;
    background-color: rgb(211, 204, 204);
    display: flex;
    gap:7px;
    
 }
.div-card-2{

        border: 2px solid rgb(211, 204, 204);
        width: 100%;
        height: 100vh;
        background-color: rgb(211, 204, 204);
        display: flex;
        gap:7px;
}
.div-card-3{

    border: 2px solid rgb(211, 204, 204);
    width: 100%;
    height: 100vh;
    background-color: rgb(211, 204, 204);
    display: flex;
    gap:7px;
    
    
}

.content a .card-1{
    margin: 22px 0;
    background: black;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 25px;
    transition: .3s ease;
}

